<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>mi primera web</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <a href="../index.html">¿Quien soy?</a>
                <a href="hobbies.html">¿Qué me gusta hacer?</a>
                <a href="familia.html">Mi familia</a>
            </nav>
            <h1>Mi familia</h1>
        </header>
        <section>
            <h4>¿Quienes son?</h4>
            <p>vivo con papá, mamá, un gato llamado "manchas" y tengo una hermana mayor</p>
            <ul>
                <li>Papá es serio, trabajador y poco sociable</li>
                <li>Mamá es sociable, le gusta hablar y conocer gente</li>
                <li>Manchas es inquieto, le gusta morder y escapa si ve una puerta abierta</li>
                <li>Mi hermana es dificil de tratar se enoja facíl y vive lejos de la familia</li>
            </ul>
            <img src="/assets/manchas.jpg"/>
            <img src="/assets/familia.jpg"/>
        </section>
        <footer>
            <p>Pagina realizada por Steven Ospina Restrepo. &copy;Todos los derechos reservados 2024</p>
        </footer>
    </main>
</body>
</html>